* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.numeri{
    padding-top:2em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}
